// Colors
$orange: #F2AB1D; 
$green: #A4C13D;
$blue-green: #50C97F;
$blue: #00C7BB;
$ocean: #10BDDE;

//Ocean to Blue Green Gradient

.box-shadow {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }